doctype html
html
  head
    title= title
    meta(name='viewport' content ='width=device-width, initial-scale=1, user-scalable=no')
    block head
    if env=="development"
        script(src="reload/reload.js")
  body
    block content
